.quiz-card{
	position: relative;
	overflow: hidden;
	width: 250px;
	height: 150px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	border: 2px solid #363636;
	background: #363636;
}

.quiz-container{
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}

.quiz-card__add-new a{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}

.quiz-card__new-quiz-btn i::before{
	font-size: 4em;
	width: 100%;
	height: 100%;
}

.quiz-card__new-quiz-btn{
	color: white;
}

.quiz-card__new-quiz-btn:hover{
	color: white;
}

.quiz-card__header{
	height: 30%;
	background: transparent;
}

.quiz-card__content{
	height: 70%;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	background: white;
	color: black;
	padding: 10px;
}

.quiz-card__subtitle{
	display: block;
	margin-bottom: -8px;
	font-size: .75rem;
}

.quiz-card__hidden-btns{
	display: flex;
	position: absolute;
	left: 0;
	top: -100%;
	width: 100%;
	height: 100%;
	color: black;

	justify-content: center;
	align-items: center;
	gap: 10px;

	background: #363636;
	transition: top .4s ease-in;
}

.quiz-card__hidden-btns .button{
	border-radius: 40px;
}

.quiz-card:hover .quiz-card__hidden-btns{
	top: 0;
	transition: top .4s;
}

.loader {
	--b: 10px;  /* border thickness */
	--n: 10;    /* number of dashes*/
	--g: 10deg; /* gap  between dashes*/
	--c: red;   /* the color */

	width:100px; /* size */
	aspect-ratio: 1;
	border-radius: 50%;
	padding: 1px; /* get rid of bad outlines */
	background: conic-gradient(#0000,var(--c)) content-box;
	--_m: /* we use +/-1deg between colors to avoid jagged edges */
		repeating-conic-gradient(#0000 0deg,
		#000 1deg calc(360deg/var(--n) - var(--g) - 1deg),
		#0000     calc(360deg/var(--n) - var(--g)) calc(360deg/var(--n))),
		radial-gradient(farthest-side,#0000 calc(98% - var(--b)),#000 calc(100% - var(--b)));
	-webkit-mask: var(--_m);
	mask: var(--_m);
	-webkit-mask-composite: destination-in;
	mask-composite: intersect;
	animation: load 1s infinite steps(var(--n));
}
@keyframes load {to{transform: rotate(1turn)}}

#quiz-container-root{
	min-width: 100%;
}
