.quiz-card{
	position: relative;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	height: 220px;
	border: 2px solid #363636;
	background: #363636;
	flex: 0 1 24.4%;
	width: 24.4%;
}

.quiz-container{
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}

.quiz-card__add-new a{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}

.quiz-card__new-quiz-btn i::before{
	font-size: 4em;
	width: 100%;
	height: 100%;
}

.quiz-card__new-quiz-btn{
	color: white;
}

.quiz-card__new-quiz-btn:hover{
	color: white;
}

.quiz-card__header{
	height: 25%;
	background: transparent;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	position: relative;
}

.quiz-card__content{
	height: 75%;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	background: white;
	color: black;
	padding: 10px;
}

.quiz-card__subtitle{
	display: block;
	font-size: .75rem;
}

.quiz-card__title{
	line-height: 18px;
	-ms-word-wrap: break-word;
	word-wrap: break-word;
}

.quiz-card:hover .quiz-card__hidden-btns{
	top: 0;
	transition: top .4s;
}

#quiz-container-root{
	min-height: 100%;
}

.container{
	min-height: 100%;
}

@keyframes donut-spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
.donut {
	position: absolute;
	top: 50%;
	left: 50%;
	display: inline-block;
	border: 4px solid rgba(0, 0, 0, 0.1);
	border-left-color: #7983ff;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	animation: donut-spin 1.2s linear infinite;
}

.quiz-card__more-action-btn{
	background: transparent!important;
	color: white!important;
	border: 0!important;
}

.quiz-card__hidden-actions{
	position: absolute;
	top: calc(100% + -10px);
	right: 9px;
	display: flex;
	flex-direction: column;
	align-items: baseline;
	background: white;
	padding: 5px 0;
	border: 1px solid gray;
	border-radius: 5px;
	z-index: 100;
	box-shadow: 1px 1px 1em rgba(0, 0, 0, 0.11), -1px -1px 1em rgba(0, 0, 0, 0.11);
}

.hidden-action{
	width: 100%;
	border: 0!important;
	border-radius: 0!important;
	justify-content: flex-start!important;
	font-size: .8rem!important;
	transition: .3s;
}

.quiz-card__hidden-actions::before{
	content: "";
	position: absolute;
	top: -5px;
	right: 8px;
	border-style: solid;
	border-width: 0 6px 6px 6px;
	border-color: white transparent;

}

.hidden-action:hover{
	background: #cecccc;
	transition: .3s;
}

.hidden-action i{
	margin-right: 10px;
}

.delete-quiz-button:hover{
	background: #f14668;
	color: white!important;
	transition: .3s;
}

.hidden{
	display: none;
}

#new_quiz_modal{
	z-index: 1000;
}

.quiz-card__title-text{
	position: relative;
}

.quiz-card__title-text:hover .quiz-card__title-show-more
{
	display: block;
	transition: .4s;
}

.quiz-card__title-show-more{
	display: none;
	z-index: 10;
	position: absolute;
	top: 100%;
	max-width: 100%;
	word-wrap: break-word;
	padding: 7px 15px 10px 15px;
	font-size: 18px;
	font-weight: 300;
	color: #fff;
	background-color: #444;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px;
}
.quiz-card__title-show-more::before{
	content: "";
	z-index: 10;
	top: -5px;
	left: 50%;
	position: absolute;
	border-style: solid;
	border-width: 0 6px 6px 6px;
	border-color: #444 transparent;
}

.mobile{
	display: none;
}

.navbar-end{
	margin: auto 0;
}

.quiz-card__add-new-title{
	font-size: 24px;
	margin-left: 10px;
}

.copy{
	width: 100%;
}

.qr-modal{
	width: 400px!important;
}

.qr-modal div input{
	font-size: 20px;
	text-align: center;
}

@media screen and (max-width: 1408px){
	.quiz-card{
		min-width: 32.7%;
	}
}

@media screen and (max-width: 1216px){
	.quiz-card{
		min-width: 32.6%;
	}
}

@media screen and (max-width: 1023px){
	.container{
		padding: 0 20px;
	}

	.quiz-card{
		min-width: 49%;
	}
}

@media screen and (max-width: 769px) {
	.mobile{
		display: inline;
	}
	
	.quiz-container{
		flex-direction: column;
	}
	
	.quiz-card{
		width: 100%;
		flex: 0 0 auto;
	}

	.level {
		display: flex;
		flex-direction: column-reverse;
		gap: 20px;
	}

	.modal-content, .modal-card {
		width: 98%!important;
	}

	.qr-modal{
		width: 300px!important;
	}
}

