#edit-container-root{
	min-height: 600px;
}

.columns{
	padding-bottom: 10px;
}

.question-list__question-container{
	display: flex;
	justify-content: space-between;
}
.question-list__question{
	width: calc(100% - 50px) !important;
}

.question_list{
	height: 100%;
}

.question-list__questions{
	max-height: 450px;
	padding: 10px 10px;
	display: flex;
	flex-direction: column;
	overflow: auto;
	overflow-x: hidden;
}

.question-list__questions::-webkit-scrollbar {
	width: 4px;               /* ширина всей полосы прокрутки */
}

.question-list__questions::-webkit-scrollbar-track {
	background: white;        /* цвет зоны отслеживания */
}

.question-list__questions::-webkit-scrollbar-thumb {
	background-color: gray;    /* цвет бегунка */
	border-radius: 20px;       /* округлось бегунка */
	border: 0;  /* отступ вокруг бегунка */
}

.question-list__title{
	text-align: center;
	margin-bottom: 20px;
}

.question-list__append-button{
	width: 100px;
	height: 50px;
	background: red;
	margin: 0 auto;
}

.question-list__title,
.question-preview__title,
.question-settings__title{
	margin: 0 0 20px 0;
	font-size: 1.56rem;
	border-bottom: 1px solid #dbdbdb;
	color: #363636;
}

.hidden{
	display: none!important;
}

.visible{
	display: block;
}

.question-settings__answer-inputs{
	display: flex;
}

#answersContainer{
	display: flex;
	flex-direction: column;
}

.hero__quiz-settings{
	display: flex;
	justify-content: space-between;
}

.columns{
	margin-left: 0!important;
    margin-right: 0!important;
}

.question-preview__question-text{
	font-size: 24px;
	font-weight: 500;
	-ms-word-wrap: break-word;
	word-wrap: break-word;
}

.send-preview-button{
	width: 100%!important;
}

.is-active-question-button{
	border: 3px solid #48c78e;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.is-active-question-button .question-button
{
	cursor: default;
}

.question-button,
.question-button .button{
	width: 100%;
}

#questionPreviewContainer{
	display: flex;
	flex-direction: column;
	align-items: baseline;
	font-size: 16px;
}

.quiz-card__title-show-more{
	display: none;
	z-index: 10;
	position: absolute;
	top: 100%;
	padding: 7px 15px 10px 15px;
	font-size: 18px;
	font-weight: 300;
	color: #fff;
	background-color: #444;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px;
}
.quiz-card__title-show-more::before{
	content: "";
	z-index: 10;
	top: -5px;
	left: 50%;
	position: absolute;
	border-style: solid;
	border-width: 0 6px 6px 6px;
	border-color: #444 transparent;
}

.question-button:hover .quiz-card__title-show-more{
	display: block;
}

#preview{
	width: 50%;
	position: relative;
}

#settings{
	position: relative;
}

#questionType,
#displayType{
	height: 2.5em;
	width: 100%;
	font-size: 16px;
	box-shadow: inset 0 0.0625em 0.125em rgba(10, 10, 10, 0.05);
	background-color: white;
	border-color: #dbdbdb;
	border-radius: 4px;
	color: #363636;
}

#questionType:focus-visible,
#displayType:focus-visible
{
	outline: none;
}

#resultPreview{
	min-height: 300px;
}

#save-question-button{
	width: 100%;
}

#addAnswerButton{
	margin-top: 0.75rem;
	width: 100%;
}

.answer-input{
	width: 100%;
}

.delete-button:hover{
	color: white!important;
	background: #f14668;
}

@keyframes donut-spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
.donut {
	position: absolute;
	top: 50%;
	left: 50%;
	display: inline-block;
	border: 4px solid rgba(0, 0, 0, 0.1);
	border-left-color: #7983ff;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	animation: donut-spin 1.2s linear infinite;
}

.answer-helper{
	margin-top: -0.7rem!important;
	margin-bottom: 0.5rem;
	padding: 0 0 0 5px;
}