@import 'bulma/css/bulma.css';
@import 'fontawesome/css/all.css';
@import 'fontawesome/css/v4-shims.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');



html,
body {
	height: 100%;
	font-family: 'Roboto', sans-serif;
}

.wrapper{
	display: flex;
	flex-direction: column;
	height: 100%;
}

.main-content {
	flex: 1 0 auto;
}
.footer {
	padding: 30px 0!important;
	margin: 20px 0 0 0;
	width: 100%;
	flex: 0 0 50px;
	box-shadow: rgba(0, 0, 0, 0.04) 0px -5px 5px;
	background: #fff!important;
}

.navbar {
    box-shadow: rgba(0, 0, 0, 0.04) 0 3px 5px;
	padding: 15px;
}

.navbar-brand__logo{
	display: flex;
	gap: 2px;
}

.navbar-brand__logo i::before{
	align-self: flex-end;
}

.user-info{
	display: flex;
}

.user-info i{
	display: flex;
	align-items: center;
	margin-right: 10px;
}

.user{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.user p{
	font-weight: 700;
	font-size: 20px;
}

.user a{
	font-size: 13px;
	margin-top: -8px;
}

@media screen and (max-width: 1023px) {
	.navbar > .container {
		display: flex!important;
		align-items: center;
		justify-content: space-between;
		padding: 0!important;
	}

	.user-info{
		padding: 0 12px;
	}

	.navbar .button{
		font-size: .6rem;
	}

	.navbar-brand__logo{
		font-size: 1.4rem!important;
	}
}