@import 'bulma/css/bulma.css';
@import 'fontawesome/css/all.css';
@import 'fontawesome/css/v4-shims.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');



html,
body {
	height: 100%;
	font-family: 'Roboto', sans-serif;
}

.wrapper{
	display: flex;
	flex-direction: column;
	height: 100%;
}

.main-content {
	flex: 1 0 auto;
}
.footer {
	padding: 30px 0!important;
	margin: 20px 0 0 0;
	width: 100%;
	flex: 0 0 50px;
	box-shadow: rgba(0, 0, 0, 0.04) 0px -5px 5px;
	background: #fff!important;
}

.navbar {
    box-shadow: rgba(0, 0, 0, 0.04) 0 3px 5px;
}

.user-info{
	display: flex;
}

.user-info i{
	display: flex;
	align-items: center;
	margin-right: 10px;
}

.user{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.user p{
	font-weight: 700;
	font-size: 20px;
}

.user a{
	font-size: 13px;
	margin-top: -8px;
}

.is-success{
	background: #0D2C54!important;
	color: white;
	-webkit-transition: .2s;
	-moz-transition: .2s;
	-ms-transition: .2s;
	-o-transition: .2s;
	transition: .2s;
}

.is-success:hover{
	background: #07346E!important;
	-webkit-transition: .2s;
	-moz-transition: .2s;
	-ms-transition: .2s;
	-o-transition: .2s;
	transition: .2s;
}

.hero.is-primary {
	background-color: #693691!important;
}

.navbar-item img {
	max-height: 3rem!important;
}

@media screen and (max-width: 1023px) {
	.navbar > .container {
		display: flex!important;
		align-items: center;
		justify-content: space-between;
		padding: 0!important;
	}

	.user-info{
		padding: 0 12px;
	}
}
@media screen and (max-width: 392px) {
	.buttons .button{
		margin-right: 0!important;
		width: 100%;
		font-size: 0.75rem;
	}
}