@import 'bulma/css/bulma.css';
@import 'fontawesome/css/all.css';
@import 'fontawesome/css/v4-shims.css';
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;400;500;700&display=swap');



html,
body {
	height: 100%;
	font-family: 'Alegreya Sans', sans-serif;
}

.wrapper{
	display: flex;
	flex-direction: column;
	height: 100%;
}



.main-content {
	flex: 1 0 auto;
}
.footer {
  	width: 100%;
	flex: 0 0 50px;
	padding: 1rem 0 2rem;
}

.navbar {
    box-shadow: rgba(0, 0, 0, 0.04) 0 3px 5px;
}

.navbar-brand__logo{
	display: flex;
	gap: 2px;
}

.navbar-brand__logo i::before{
	align-self: flex-end;
}