@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

html,
body {
  height: 100%;
}

.wrapper{
	display: flex;
	flex-direction: column;
	height: 100%;
}



.main-content {
	flex: 1 0 auto;
}
.footer {
  	width: 100%;
	flex: 0 0 50px;
	padding: 1rem 0 2rem;
}

.navbar {
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}

.navbar-brand__logo{
	display: flex;
	gap: 2px;
}

.navbar-brand__logo i::before{
	align-self: flex-end;
}